header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	width: 100%;

	z-index: 1000;

	padding-top: 22px;
	padding-left: 16px;
	padding-right: 16px;

	nav {
		display: none;
	}

	.btn--response {
		display: none;
	}

	.burger {
		display: flex;
		flex-direction: column;

		justify-content: center;
		align-items: center;
		gap: 8px;

		border-radius: 10px;

		padding: 16px 20px;

		background-color: var(--color-blue-600);

		div {
			width: 22px;
			border: 1px solid white;
		}
	}

	@media (min-width: 1440px) {
		padding-left: 32px;
		padding-right: 32px;

		.burger {
			display: none;
		}

		nav,
		.btn--response {
			display: flex;
		}

		ul {
			display: flex;
			gap: 8px;
		}
	}
}
