.hero {
	display: flex;
	flex-direction: column;
	justify-content: end;

	position: relative;

	gap: 20px;

	height: 842px;

	background-image: url(../img/priemka.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	.container {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-bottom: 33px;
	}
}

.hero__title {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.hero-about-section {
	padding-top: 115px;
	.container {
		padding-bottom: calc((92px - 78px) + 78px);
	}
}

.hero-about-section--preview {
	margin-top: 24px;
	margin-bottom: 32px;
	border-radius: 24px;
	max-width: 343px;
}

.hero-about-section--description-list {
	display: flex;
	flex-direction: column;
	gap: 48px;
}

.description--list__item {
	display: flex;
	flex-direction: column;
	gap: 24px;

	img {
		max-width: 62px;
		padding: 12px;
		border: 1px solid rgba(129, 149, 248, 0.2);
		background-color: rgba(244, 245, 255, 0.8);
		border-radius: 20px;
	}

	h4 {
		font-size: 28px;
		line-height: 125%;
		font-weight: 500;
		margin-bottom: 12px;
	}

	p {
		font-size: 16px;
		line-height: 150%;
		letter-spacing: -3%;
		font-weight: 400;
		color: rgba(59, 59, 60, 1);
	}
}

.tag {
	display: flex;
	gap: 4.5px;
	margin-bottom: 24px;
}

.why__description {
	display: flex;
	flex-direction: column;
	gap: 16px;

	margin-bottom: 48px;
}

.why__list {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.why__list--item {
	display: flex;
	flex-direction: column;

	background-color: white;

	border-radius: 24px;
	padding: 22px 24px;
	gap: 4px;

	.paragraph {
		font-size: 16px;
		text-wrap: nowrap;
	}
}

.priemka {
	margin-bottom: 32px;

	padding: 274px 16px 16px 16px;
	border-radius: 32px;

	display: flex;
	flex-direction: column;
	gap: 24px;

	background-image: url(../img/priemka-section.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	h3 {
		color: white;
	}

	.paragraph {
		font-size: 16px;
		color: var(--color-paragraph--gray);
	}

	.priemka__description {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
}

.services-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.services-list__item {
	display: flex;
	flex-direction: column;
	gap: 23px;
	padding: 32px 12px 12px 12px;
	border-radius: 32px;
	background-color: white;
	box-shadow: 0px 0px 40px 0px oklch(70.7% 0.165 254.624/5%);
}

.services-list__item--title {
	display: flex;
	flex-direction: column;
	gap: 16px;

	padding-left: 12px;
	padding-right: 12px;

	.paragraph {
		font-size: 16px;
	}
}

.services-list__item--image {
	border-radius: 24px;
	height: 245px;

	img {
		border-radius: 24px;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.reviews {
	display: flex;
	flex-direction: column;
}

.reviews .container {
	padding-bottom: 74px;
}

.reviews-list {
	overflow-x: hidden;
}

.review-card {
	display: flex;
	flex-direction: column;
	gap: 16px;

	min-width: 343px;

	background-color: white;

	padding: 20px;
	border-radius: 32px;
}

.reviews-list {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.review__author {
	display: flex;
	align-items: center;
	gap: 16px;
}

.review__author--image {
	width: 68px;
	height: 68px;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.review__author--description {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.author--description__stars {
	display: flex;
	flex-direction: row;
	gap: 4px;
}

.review__content {
	font-size: 16px;
}

.slider-controllers {
	margin-top: 20px;
	display: flex;
	gap: 6px;
	justify-content: center;

	.controller {
		display: flex;
		justify-content: center;
		padding-top: 8px;
		padding-bottom: 8px;
		width: 100%;
		border-radius: 12px;
	}

	.controller.disable {
		color: rgba(255, 255, 255, 0.5);
		background-color: rgba(106, 113, 149, 0.15);
	}

	.controller.active {
		color: rgba(38, 38, 40, 1);
		background-color: rgba(250, 250, 252, 1);
	}
}

.table-hidden {
	display: none;
}

.tarif-list {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.tarif {
	position: relative;
	z-index: 15;
	padding: 32px 16px 16px 16px;
	display: flex;
	flex-direction: column;
	border-radius: 32px;
	gap: 22px;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 40px 0px oklch(70.7% 0.165 254.624/5%);
}

.tarif-white {
	background-color: white;
}

.tarif-blue {
	background-color: hsl(230, 80%, 58%);

	.tarif-tag {
		border: 1px solid rgba(176, 187, 241, 0.3);
		background-color: rgba(79, 108, 255, 1);
		color: rgba(244, 245, 255, 0.8);
	}

	.tarif--title {
		h4,
		span {
			color: white;
		}

		p {
			color: rgba(244, 245, 255, 0.8);
		}
	}

	.tarif--price {
		color: rgba(244, 245, 255, 0.8);
	}

	.tarif--price--num {
		color: rgba(255, 255, 255, 1);
	}

	.tarif--buy {
		background-color: rgba(255, 255, 255, 1);
		color: rgba(61, 89, 235, 1);
	}
}

.tarif-white::before {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -5;
	background-image: url('../img/Intersect.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.tarif-blue::before {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -5;
	background-image: url('../img/Intersect.png');
	background-size: contain;
	background-position: center;
}

.tarif-tag {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 8px 16px;
	border: 1px solid var(--blue-opacity-30020, rgba(129, 149, 248, 0.2));
	border-radius: 12px;

	font-size: 16px;
	font-weight: 400;
	line-height: 135%;
	letter-spacing: -3%;
	vertical-align: bottom;
	color: rgba(110, 110, 127, 1);
}

.tarif--buy {
	cursor: pointer;
}

.tarif--title {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;

	font-size: 32px;
	font-weight: 500;
	line-height: 125%;
	vertical-align: middle;

	h4 {
		letter-spacing: -4%;

		color: rgba(38, 38, 40, 1);
	}

	span {
		font-weight: 600;
		letter-spacing: -3%;
		color: rgba(61, 89, 235, 1);
		margin-bottom: 20px;
	}

	p {
		text-align: center;
		color: rgba(110, 110, 127, 1);
		line-height: 150%;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: -3%;
		vertical-align: bottom;
	}
}

.tarif--price {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
	color: rgba(38, 38, 40, 1);
	font-weight: 500;
	line-height: 135%;
	letter-spacing: -3%;
	vertical-align: bottom;
	font-size: 16px;
}

.tarif--price--num {
	font-size: 32px;
	line-height: 125%;
	vertical-align: middle;
	font-weight: 600;
	letter-spacing: -3%;
	color: rgba(61, 89, 235, 1);
	margin-bottom: 22px;
}

.tarif--buy {
	padding: var(--btn--padding-Y-16) 0;
	border-radius: var(--btn--border-radius);
	background-color: rgb(61, 89, 234);
	width: 100%;
	font-weight: 500;
	font-size: 20px;
	line-height: 100%;
	letter-spacing: -3%;
	vertical-align: middle;

	color: white;
}

.about-services-list {
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;
}

.about-services-list__item {
	display: flex;
	flex-direction: column;
	padding: 24px;
	background-color: white;
	border-radius: 32px;

	h4 {
		margin-top: 24px;
		margin-bottom: 16px;
		font-size: 24px;
		line-height: 125%;
		vertical-align: middle;
		font-weight: 500;
		color: rgba(38, 38, 40, 1);
	}

	p {
		font-size: 20px;
		line-height: 150%;
		vertical-align: middle;
		font-weight: 400;

		color: rgba(110, 110, 127, 1);
	}
}

.about-services-list__item--svg {
	max-width: 62px;
	padding: 12px;
	background-color: rgba(244, 245, 255, 0.8);
	border-radius: 20px;
	border: 1px solid rgba(176, 187, 241, 0.3);
}

.file-list {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.file {
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-radius: 24px;
	background-color: white;
	box-shadow: 0px 0px 40px 0px oklch(70.7% 0.165 254.624/5%);

	h4 {
		font-size: 20px;
		font-weight: 500;
		color: rgba(38, 38, 40, 1);
		line-height: 125%;
		letter-spacing: -4%;
		margin-bottom: 8px;
	}

	p {
		font-size: 16px;
		line-height: 135%;
		color: rgba(110, 110, 127, 1);
	}

	img {
		max-width: 48px;
	}
}

.footer-info {
	margin-top: 48px;
	display: flex;
	flex-direction: column;
	gap: 48px;
}

.footer-contacts {
	display: flex;
	flex-direction: column;
	gap: 4px;

	font-size: 32px;
	line-height: 100%;
	letter-spacing: -3%;
	font-weight: 600;
}

.author-development {
	font-size: 20px;
	line-height: 145%;
	letter-spacing: -3%;
	font-weight: 500;
}

.footer-menu {
	display: flex;
	flex-direction: column;
	gap: 12px;

	font-size: 20px;
	line-height: 145%;
	letter-spacing: -3%;
	font-weight: 500;
}

.footer-address {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.footer-address--city,
.footer-address--schedule {
	font-size: 20px;
	letter-spacing: -3%;
	line-height: 135%;

	color: rgba(255, 255, 255, 1);
}

.footer-address--schedule {
	color: rgba(255, 255, 255, 0.5);
}

.footer-end {
	img {
		margin-bottom: 24px;
	}
}

.footer-policy {
	display: flex;
	flex-direction: column;
	gap: 8px;
	color: rgba(255, 255, 255, 0.5);
	font-size: 16px;
	line-height: 145%;
	letter-spacing: -3%;
	a {
		font-size: 16px;
		line-height: 145%;
		letter-spacing: -3%;
		color: rgba(255, 255, 255, 0.5);
	}
}

.footer__title {
	display: flex;
	flex-direction: column;
	gap: 40px;
	margin-bottom: 48px;

	h2 {
		margin-bottom: 0;
		text-wrap: nowrap;
	}
}

.footer-contacts {
	gap: 26px;
}

.mini-container:nth-child(1) {
	display: flex;
	flex-direction: column;
	gap: 48px;
}

.footer-end {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-bottom: 8px;
	font-size: 16px;
	line-height: 145%;
	letter-spacing: -3%;
	color: rgba(255, 255, 255, 0.5);

	img {
		max-width: 157px;
	}
}

.mobile-only {
	display: block;
}

@media (min-width: 744px) {
	.mobile-only {
		display: none;
	}

	.services-list {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		gap: 10px;
	}

	.services-list__item {
		max-width: 347px;
		justify-content: space-between;
	}

	.about-services-list {
		gap: 16px;
	}

	.about-services-list__item {
		padding: 32px;
		max-width: 710px;

		h4 {
			font-size: 32px;
		}
	}

	.hero-about-section {
		padding-top: 115px;
		.container {
			padding-bottom: calc((119px - 78px) + 78px);
		}
	}

	.hero-about-section--preview {
		margin-bottom: 64px;
		max-width: 100%;
	}

	.hero-about-section--description-list {
		gap: 64px;
	}

	.description--list__item {
		gap: 32px;

		h4 {
			font-size: 32px;
			margin-bottom: 16px;
		}

		p {
			font-size: 20px;
		}
	}

	footer .mini-container {
		display: flex;
		justify-content: space-between;
	}

	footer .footer-end {
		display: flex;
		gap: 21px;

		span {
			text-wrap: nowrap;
			margin-top: 8px;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: -3%;
			color: rgba(255, 255, 255, 0.5);
		}
	}

	.table-hidden {
		display: none;
	}

	.file {
		padding: 32px;
		flex-direction: row;
		gap: 32px;
		align-items: start;

		h4 {
			font-size: 32px;
		}

		p {
			font-size: 20px;
		}
	}

	.tarif {
		padding: 32px 16px 16px 16px;
		gap: 32px;
	}

	.tarif--title {
		span {
			font-size: 48px;
		}

		p {
			font-size: 20px;
			max-width: 392px;
		}
	}

	.tarif--price--num {
		font-size: 48px;
		margin-bottom: 0;
	}
}

@media (min-width: 1440px) {
	.container {
		margin: 0 auto;
		max-width: 1440px;
		padding: 32px 32px 96px 32px;
	}

	.hero .container {
		width: calc(1440px - 64px);
	}

	.hero-about-section {
		.container {
			display: grid;
			grid-template-columns: 332px 1fr;
			column-gap: 132px;
			row-gap: 125px;
		}
	}
	.hero-about-section--header {
		grid-column: span 2;
		display: flex;
		align-items: center;
		gap: 407px;

		.tag.h6 {
			align-items: center;
			margin: 0;
			img {
				max-width: 6px;
			}
		}
	}

	.hero-about-section--preview {
		margin: 0;
		width: 100%;
	}

	.why .container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		.tag.h6 {
			margin-bottom: 96px;
		}
	}

	.why__list {
		grid-column: span 2;
		flex-direction: row;
		justify-content: space-between;
	}

	.why__list--item {
		width: 448px;
	}

	.priemka__description {
		p {
			max-width: 657px;
		}
	}

	.priemka {
		height: 647px;
		justify-content: end;
		padding: 32px;
		margin-bottom: 40px;
	}

	.services-list {
		gap: 16px;
	}

	.services-list__item {
		max-width: 448px;
		gap: 32px;

		.paragraph {
			font-size: 20px;
			font-weight: 500;
			line-height: 135%;
			letter-spacing: -3%;
		}
	}

	.table-hidden {
		display: block;
	}

	.services-list__item:nth-child(2) {
		height: 533px;
	}

	.services-list__item--title {
		padding-left: 20px;
		padding-right: 20px;
		max-width: 332px;
		gap: 24px;
	}

	.desktop-hidden {
		display: none;
	}

	.desktop-nowrap {
		text-wrap: nowrap;
	}

	.review-card {
		min-width: 564px;
		height: 480px;
	}

	.review__content {
		font-size: 24px;
		font-weight: 500;
		max-width: 500px;
		line-height: 150%;
		letter-spacing: -3%;

		color: rgba(38, 38, 40, 1);
	}

	.tarif-list {
		flex-direction: row;
		gap: 16px;

		div {
			flex: 1;
		}
	}

	.about-services-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: start;
	}

	.about-services-list__item {
		height: 343px;

		p {
			font-size: 19px;
		}
	}

	.about-services-list__item:nth-child(1),
	.about-services-list__item:nth-child(3) {
		height: 302px;
	}

	.about-services-list__item:nth-child(4),
	.about-services-list__item:nth-child(6) {
		position: relative;
		top: calc(302px + 16px * 2 - 383px);
		height: 383px;
	}

	.about-services-list__item:nth-child(5) {
		height: 332px;
	}

	.about-services-list__item:nth-child(2) {
		height: 353px;
	}

	.about-services-list__item:nth-child(7),
	.about-services-list__item:nth-child(8),
	.about-services-list__item:nth-child(9) {
		position: relative;
		top: -48px;
	}

	.tag {
		gap: 8px;
	}

	.about-services-section {
		.container {
			padding-bottom: calc(78px - 32px);
		}
	}

	footer {
		.container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}
	}

	.footer-info {
		margin-top: 215px;
		grid-column: span 2;
		gap: 69px;

		.footer-menu {
			display: grid;
			grid-template-columns: 218px 1fr;
			column-gap: 132px;
		}
	}

	footer .footer-end {
		display: grid;
		grid-template-columns: 218px 1fr;
		column-gap: 132px;
		margin: 0;
		align-content: end;

		* {
			margin: 0;
		}
	}

	.footer__title {
		margin: 0;
	}

	.footer-policy,
	.footer-address {
		text-align: end;
	}

	.footer-contacts {
		align-items: end;
		justify-content: space-between;
	}

	.footer-contacts--tel {
		text-align: end;
		font-size: 48px;
		line-height: 100%;
		font-weight: 600;
	}

	.mini-container:nth-child(1) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}
